certs/
tools/protoc/
tools/protoc.zip
build/
*.exe
*.obj
.DS_Store
*.app

# Xcode user settings and build artifacts
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.xcscmblueprint
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser

